body {
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto','Arial',sans-serif;
}

header {
  overflow: auto;
  padding: 15px 15px 15px 15px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

section {
  float: left;
  margin: 100px 0px 0px 200px;
}

aside {
  float: left;
  margin-right: 200px;
  background: orange;
}

input {
  width: 575px;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  border: none;
}

button {
  background-color: white;
  color: blue;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.search-container {
  border: 1px solid;
  border-color: lightgray;
}

.header-start {
  width: 20%;
  float: left;
  text-align: left;
  padding: 10px 0px 10px 0px;
}

.header-middle {
  width: 57%;
  float: left;
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.header-end {
  width: 20%;
  float: left;
  text-align: right;
  padding: 2px 0px 2px 0px;
}

.header-item {
  display: inline-block;
  vertical-align: middle;
}

.sign-in-btn {
  display: inline-block;
  border: 1px solid;
  border-color: blue;
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}

.video-info {
  overflow: auto;
}

.video-title {
  font-weight: 400;
  font-size: 18px;
}

.video-info-text {
  float: left;
  color: gray;
  padding-top: 8px;
}

.video-info-buttons {
  float: right;
}

.video-info-button {
  display: inline-block;
  vertical-align: middle;
}

.video-info-button-text {
  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
  margin-right: 10px;
}

.channel {
  overflow: auto;
  margin-top: 10px;
}

.channel-start {
  float: left;
  padding: 0px 10px 0px 10px;
}

.channel-middle {
  float: left;
  width: 900px;
}

.channel-title {
  font-size: 18px;
  font-weight: 500;
  font-height: 16px;
}

.channel-subscribers {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.channel-end {
  float: right;
}



