body {
  background-color: #f9f9f9;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto','Arial',sans-serif;
}

header {
  overflow: auto;
  padding: 15px 15px 15px 15px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
}

.wrapper {
  width: 1600px;
  margin: 125px auto;
}

.row {
  overflow: auto;
}

section {
  float: left;
  max-width: 75%;
}

aside {
  float: left;
  max-width: 20%;
}

input {
  width: 575px;
  padding: 4px 6px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4px;
  border: none;
}

.search-container {
  border: 1px solid;
  border-color: lightgray;
}

.header-start {
  width: 20%;
  float: left;
  text-align: left;
  padding: 10px 0px 10px 0px;
}

.header-middle {
  width: 57%;
  float: left;
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.header-end {
  width: 20%;
  float: left;
  text-align: right;
  padding: 2px 0px 2px 0px;
}

.header-item {
  display: inline-block;
  vertical-align: middle;
}

.sign-in-btn-container {
  display: inline-block;
  border: 1px solid;
  border-color: blue;
  border-radius: 2px;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}

.sign-in-btn {
  background-color: white;
  color: blue;
  font-weight: 500;
  font-size: 16px;
  border: none;
}

.video-info {
  overflow: auto;
}

.video-title {
  font-weight: 400;
  font-size: 18px;
}

.video-info-text {
  float: left;
  color: gray;
  padding-top: 8px;
}

.video-info-buttons {
  float: right;
}

.video-info-button {
  display: inline-block;
  vertical-align: middle;
}

.video-info-button-text {
  display: inline-block;
  vertical-align: top;
  padding-top: 9px;
  margin-right: 10px;
}

.channel {
  overflow: auto;
  margin-top: 10px;
  border-style: solid none solid none;
  border-width: 1px;
  border-color: lightgray;
  padding: 20px 0px 10px 0px;
}

.channel-start {
  float: left;
  padding: 0px 10px 0px 10px;
}

.channel-middle {
  float: left;
  width: 600px;
}

.channel-title {
  font-size: 18px;
  font-weight: 500;
  font-height: 16px;
}

.channel-subscribers {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}

.channel-end {
  float: right;
}

.subscribe-btn {
  color: white;
  width: 105px;
  height: 50px;
  background-color: rgb(204, 0, 0);
  border: none;
  border-radius: 3px;
  font-weight: 650;
}

.comment-top-container {
  overflow: auto;
  margin: 20px 0px 20px 0px;
}

.comment-number {
  float: left;
}

.comment-sort-icon {
  float: left;
  margin: 0px 10px 0px 40px;
}

.comment-sort-text {
  float: left;
}

.comment-form-container {
  overflow: auto;
  margin: 30px 0px 30px 0px;
}

.comment-form-left, .comment-left {
  float: left;
  margin: 0px 0px 0px 10px;
  width: 5%;
}

.comment-form-right {
  float: right;
  border-style: none none solid none;
  border-width: 1px;
  border-color: lightgray;
  font-size: 14px;
  width: 92%;
  margin-bottom: 10px;
}

.comment-container {
  overflow: auto;
  margin: 20px 0px 20px 0px;
}

.comment-right {
  float: right;
  width: 92%;
}

.comment-content {
  width: 90%;
}

.commenter-container {
  margin: 0px 0px 7px 0px;
}

.commenter-name {
  font-weight: 600;
  margin: 0px 5px 0px 0px;
}

.comment-date {
  color: gray;
  font-size: 12px;
}

.comment-buttons-container {
  overflow: auto;
  margin: 10px 0px 10px 0px;
}

.comment-button-item {
  float: left;
  margin: 0px 20px 0px 0px;
}

.standard-btn {
  color: gray;
  font-weight: 650;
  border: none;
  background-color: #f9f9f9;
}

.comment-form-input {
  outline: none;
  background-color: #f9f9f9;
}

.search-form-input {
  outline: none;
}



